@inherits LayoutComponentBase

<HeadContent>
    <link rel="stylesheet" type="text/css" href="/booksaw/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="/booksaw/icomoon/icomoon.css">
	<link rel="stylesheet" type="text/css" href="/booksaw/css/vendor.css">
	<link rel="stylesheet" type="text/css" href="/booksaw/style.css">
</HeadContent>

<div>
    @Body
</div>