<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="${basedir}\Loggins\internal_logs\internallog.txt"
	  throwExceptions="true">
	<extensions>
		<add assembly="Nlog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target name="logfile" xsi:type="File"
				fileName="${basedir}\Loggins\logs\${shortdate}_logfile.txt"
				layout="${longdate} | ${level:uppercase=true} | ${message} | ${exception}"
				CreateDirs="true"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" maxlevel="Error" writeTo="logfile"/>
	</rules>
</nlog>