@page "/books"
@layout ClientLayout
@inject IServiceManager _manager
@inject NavigationManager _navigationManager
@rendermode InteractiveServer

<PageTitle>Bütün Kitaplar</PageTitle>

<h2 class="text-center">Kitaplar Burada</h2>

@code {
    private List<ResultBookDto> _books;
    
}