@inject IServiceManager _manager

<section id="featured-books" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header align-center">
                    <div class="title">
                        <span>Some quality items</span>
                    </div>
                    <h2 class="section-title">Featured Books</h2>
                </div>
                <div class="product-list">
                    <div class="row">
                        @foreach(var book in _books)
                        {
                            <div class="col-md-3">
                                <div class="product-item">
                                    <figure class="product-style">
                                        <img src="@book.ImageUrl" alt="Books" class="product-item">
                                        <button type="button" class="add-to-cart" data-product-tile="add-to-cart">Açıklama</button>
                                    </figure>
                                    <figcaption>
                                        <h3>@book.Name</h3>
                                        <span>@book.Author</span>
                                        <div class="item-price">$ @book.Price</div>
                                    </figcaption>
                                </div>
                            </div>                          
                        }

                    </div><!--ft-books-slider-->
                </div><!--grid-->


            </div><!--inner-content-->
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="btn-wrap align-right">
                    <a href="books" class="btn-accent-arrow">Bütünü Gör <i class="icon icon-ns-arrow-right"></i></a>
                </div>

            </div>
        </div>
    </div>
</section>

@code {
    private List<ResultBookDto> _books = [];
    protected override async Task OnInitializedAsync()
    {
        _books = (await _manager.BookService.GetAllBooksAsync()).Take(4).ToList();
    }
}