@page "/"
@layout ClientLayout
@rendermode InteractiveServer

<PageTitle>BookSaw</PageTitle>
<div id="header-wrap">
    <TopHeader/>
    <Header/>
</div>
<Slider/>
<ClientHolder/>
<Feature/>
<BestSellingBook/>
<PopularBook/>
<Quotation/>
<Subscribe/>
<Footer/>


@code{

}