.table-header{
    background-color: rgb(18, 114, 87);
    font-weight: bold;
    text-align: left;
    padding: 10px;
    color: floralwhite;
    height: 40px;
    border-radius: 5px;
}
.tableau{
    background-color: #ffffff;
    border-radius: 8px;
    color: black;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.entete{
    background-color: #ffffff;
    font-weight: bold;
    color: floralwhite;
    width: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
}